a{
  color: inherit;
  text-decoration: none;
}

.primary-button a{
  color: white;
  text-decoration: none;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}